<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="login.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <div class="container">
      <div class="container-form">
        <div class="form-title">
          <h1>CD</h1>
          <span>Crohn's Disease Registry<br>크론병 레지스트리</span>
        </div>
        <form class="form-login" action="index.html" method="post">
          <div class="div-input">
            <label for="inputId" class="sr-only">ID</label>
            <input type="id" id="inputId" class="form-control" placeholder="ID" required autofocus>
            <label for="inputPasword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
          </div>
          <div class="div-btn">
            <button type="button" class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
          </div>
        </form>
      </div>

      <div class="container-info">
        <li>본 웹사이트는 공동연구 참여 병원의 연구진들만 접속하실 수 있습니다.</li>
        <li>본 웹사이트는 크론병 국내 환자들에 대한 임상 데이타베이스 입니다.</li>
      </div>
    </div>
    <div style="position: absolute; top:50%; width:100%; z-index:-1;">
      <hr style="border-top:1px solid #58AAC4;">
    </div>
  </body>
</html>
